# requirements.txt
streamlit
transformers
gnews
pandas
sentencepiece
matplotlib
plotly
scikit-learn
bertopic==0.16.0 # Pastikan versi ini kompatibel, atau coba versi terbaru jika ada masalah
hdbscan # Dependensi BERTopic
nltk # Mungkin dibutuhkan oleh BERTopic atau tokenizer lain
networkx
streamlit-agraph # Untuk visualisasi graph (akan diimplementasikan nanti)